<div id="<%= dom_id parking_usage_history %>">
  <p>
    <strong>Year:</strong>
    <%= parking_usage_history.year %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= parking_usage_history.month %>
  </p>

  <p>
    <strong>Parking area:</strong>
    <%= parking_usage_history.parking_area_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= parking_usage_history.amount %>
  </p>

</div>
