<p style="color: green"><%= notice %></p>

<%= render @parking_usage_history %>

<div>
  <%= link_to "Edit this parking usage history", edit_parking_usage_history_path(@parking_usage_history) %> |
  <%= link_to "Back to parking usage histories", parking_usage_histories_path %>

  <%= button_to "Destroy this parking usage history", @parking_usage_history, method: :delete %>
</div>
