<p style="color: green"><%= notice %></p>

<%= render @payment_destination %>

<div>
  <%= link_to "Edit this payment destination", edit_payment_destination_path(@payment_destination) %> |
  <%= link_to "Back to payment destinations", payment_destinations_path %>

  <%= button_to "Destroy this payment destination", @payment_destination, method: :delete %>
</div>
