<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment destination:</strong>
    <%= payment.payment_destination %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= payment.year %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= payment.month %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

</div>
