<p style="color: green"><%= notice %></p>

<%= render @parking_area %>

<div>
  <%= link_to "Edit this parking area", edit_parking_area_path(@parking_area) %> |
  <%= link_to "Back to parking areas", parking_areas_path %>

  <%= button_to "Destroy this parking area", @parking_area, method: :delete %>
</div>
