<div>
  <%= link_to "支払い一覧", payments_path %> |
  <%= link_to "駐車場使用履歴一覧", parking_usage_histories_path %> |←トランザクションデータ　マスタデータ→|
  <%= link_to "支払い先一覧", payment_destinations_path %> |
  <%= link_to "駐車場一覧", parkings_path %> |
  <%= link_to "駐車場区画一覧", parking_areas_path %> |
  <%= link_to "駐車場使用者一覧", parking_users_path %> |
</div>
